

.con
    display flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    padding: $listItemPadding 0
    .icon
        color #C7C7CC
        font-size: 26upx
        padding-left: 10upx
.border
    border-bottom: solid 1px rgba(229,229,229,1)

.border-con
    padding: 0 $primaryPadding
    background: #fff