// @import '~@src/styles/variables.styl'

.con
    position relative
    padding-left: .5rem
    font-size:32upx;
    font-weight:500;
    color:rgba(0,0,0,0.85);
    line-height:45upx;
.con:before
    content: ''
    position absolute
    top: 10%;
    left 0
    bottom: 0
    height: 70%;
    width: 9upx;
    margin: auto;
    border-radius: 4upx;
    background: $primaryColor

