.primary-color {
    color: $primaryColor
    }
.light-blue {
    color: $lightBlue
    }
.red-star {
    color:rgba(254,8,8,1);
    }
.white-bg
    background: #fff

.primary-bg
    background: $primaryColor
.error
    color $error
.success 
    color $success
.color-666
    color #666
.color-999
    color #999
.color-333
    color #333