
.right {
    float: right
    }
.absolute-center {
    position absolute
    left: 0
    top: 0
    bottom: 0
    right 0
    margin: auto
    }
.absolute {
    position absolute
    }
.fix-bottom{
    position fixed
    width: 100%
    box-sizing: border-box
    bottom: 1rem
    }