

.holder_right {
    text-align: right 
    }
.list_input 
    text-align: right 
.pre-wrap
    white-space: pre-wrap
.white
  color white
.font32
   font-size 32upx
.font28
   font-size 28upx
.font24
   font-size 24upx
.font48
   font-size 48upx
.font34
   font-size 34upx
.font26
   font-size 26upx
.line45
   line-height 45upx
.text-center
   text-align: center
.weight600
   font-weight: 600