// 公共引入css变量文件
// @import '~@src/styles/variables.styl'

$primaryColor = #FF7967
$success= #52BE57
$warning = #FF9851
$error = #FD6737
$body = #EFEFF4

$listLeft = #000
$listRight = #666

$explain = #888

$primaryFamily = PingFangSC-Medium,PingFang SC


$listItemPadding = 18upx
$primaryPadding = 24upx
$primaryMargin = 24upx

$boxMargin = 24upx
$boxPadding = $boxMargin

$primaryBorderColor = #E5E5E5