// @import '~@src/styles/variables.styl'

.con
    width: 100%
    text-align: center
    font-weight:400;
    font-size:24upx;
    line-height:33upx;
    color:rgba(51,51,51,1);
    // .label
      
    .progress-con
        height 8upx
        margin: 10upx
        border-radius: 5upx
        background: #EBEBEB
        .bar
            height 100%
            border-radius: 5upx
            background: $primaryColor
           
    // .name
    //     font-size:24px;
    //     line-height:33px;

