// @import '~@src/styles/variables.styl'

.con
    display flex
    flex-flow: row wrap 
    justify-content: flex-start
    .add
        position relative
        width:116upx;
        height:116upx;
        margin: 10upx
        border:1upx solid rgba(204,204,204,1);
    .add:before
        content '+'
        position absolute
        width:116upx;
        height:116upx;
        margin:  auto
        left 0 
        right 0
        line-height:116upx;
        text-align: center
        color #CCC
        font-size: 56upx
    .img-con
        position relative
        width:116upx;
        height:116upx;
        margin: 10upx
        .img
            width:116upx;
            height:116upx;
        .icon
            position absolute
            font-size:46upx;
            margin:  auto
            color #CCC
            top: -1upx;
            right: -1upx
    

