@import '~@src/styles/variables.styl'

.tab-con
    display flex
    flex-flow: row nowrap
    justify-content: space-around
    background: #fff
    .item
        padding: 13upx 24upx
        font-size:32upx;
        font-weight:400;
        color:$primaryColor
        line-height:45upx;
    .active
        border-bottom:  solid 6upx $primaryColor
        border-radius: 2px
        
