@import '~@src/styles/variables.styl'

.con
    position relative
    padding: 12upx 27upx
    background: #fff
    .search
        height:56upx;
        padding: 0 20upx
        color: $primaryColor
        text-align: center
        background:rgba(239,239,244,1);
        border-radius:28upx;
        border:1upx solid rgba(230,230,234,1);
    .holder
        margin: 0 auto
        font-size:26px;
        font-weight:400;
        color:rgba(178,178,178,1);
        line-height:37px;
                
