
.con
    display flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    padding: 24upx
    margin: 24upx
    font-weight: 500
    box-shadow:0 0 10upx 0 rgba(0,0,0,0.1);
    border-radius:8upx;
    background: #fff
    .list-btn
        border solid $primaryColor 1px
        color $primaryColor
    .name 
        font-size:32upx;
        color:rgba(51,51,51,1);
        line-height:45upx;
    .address 
        font-size:24upx;
        font-weight:400;
        color:rgba(153,153,153,1);
        line-height:33upx;
    .icon
        color #C7C7CC
        font-size: 26upx
