@import '~@src/styles/variables.styl'

.con
    position relative
    padding:  24upx
    margin:  24upx 0
    background: #fff
    .list-con
        display: flex
        flex-flow: row wrap
        justify-content: flex-start
        .list-item
            width: 33.333%
            text-align: center
            .nav-icon
                font-size:  100upx
                margin: 20upx 0
            .label
                font-size:32upx;
                font-weight:400;
                color:rgba(51,51,51,1);
                line-height:45upx;

